<div class="row">
	<div class="col-xs-12">
		<div class="header-banner"blog-slab-text>Game</div>
		<div class="header-banner"blog-slab-text>Dev Garden</div>
	</div>

	<div class="col-xs-12">
		<blog-nav-bar>
		<div class="nav nav-pills">
			<ul>
				<!-- <li><a> oi </a></li> -->
				<blog-nav-item name="Home"></blog-nav-item>
				<blog-nav-item name="About"></blog-nav-item>
			</ul>
		</div>
		</blog-nav-bar>
		<!-- <ul class="nav nav-pills">
		  <li class="active"><a ng-href="#/">Home</a></li>
		  <li><a ng-href="#/about">About</a></li>
		  <li><a ng-href="#/">Contact</a></li>
		</ul> -->
	</div>
</div>